Binaries
DerivedDataCache
Intermediate
Saved
Build

Content/*
!Content/Blueprints
!Content/Assets
!Content/Maps


.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace